<h1>LOG IN!!!</h1>
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label for="name">Name</label>
  <input type="text" id="name" name="user[name]">

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]">

  <input type="submit" value="Log in to Photographly">
</form>